#part1{
	min-width: 1280px;
    font-family: "Microsoft YaHei", "Hiragino Sans GB", sans-serif;
}
/*-------------------------------------------------
header
-------------------------------------------------*/
.header{
	height: 58px;
	margin: 0 auto;
}

.header *{
	display: inline-block;
}

#header-icon{
    padding-left: 50px;
	vertical-align: middle;
	height: 31px;
	width: 31px;
}

#new-word{
	margin-left: 5px;
	line-height: 58px;
	height: 58px;
	font-size: 20px;
}

.nav{
	float: right;
    padding-right: 45px;
}

.nav a{
	text-decoration: none;
	line-height: 54px;
	padding:0 19px;
	color: #787b83;
	font-size: 0.9em;
	transition: all 0.5s ease;
	border-bottom: 4px solid rgba(0,0,0,0);
}

.nav a:hover{
	color: #e74f4d;
	border-bottom: 4px solid #e74f4d;
}

#login{
	color: #e74f4d;
}

#login:before{
	background-image: url(../img/login.png);
	display: inline-block;
	background-size: 17px 17px;
	width: 17px;
	height: 17px;
	vertical-align: middle;
	content: "";

}
/*-------------------------------------------------
part1
-------------------------------------------------*/
#part1 {
	width: 100%;
}

.content{
	
}

#time-of-new-life{
	height: 690px;
	background-image: url("../img/part1-background.png");
	background-position: 0% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    position: relative;
    min-width: 1280px;
}

#time-of-new-life .background-filter{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.2);
}

#time-of-new-life .content{
	position: absolute;
	top: 50%;
	left: 10vw;
	margin-top: -130px;
	width: 500px;
	height: 270px;
	color: #ffffff;
}

#time-of-new-life h1{
	font-size: 3.8em;
	margin: 0;
	font-weight: 200;
}

#time-of-new-life p{
	padding-top: 20px;
	line-height: 1.5;
	font-size: 1.3em;
	font-weight: 100;
}

#time-of-new-life a{
	position: absolute;
	left: 0;
	bottom: 0;
	text-decoration: none;
	text-align: center;
	font-size: 2em;
	letter-spacing: 8px;
	line-height: 65px;
	color: #ffffff;
	background-color: #e74f4d;
	height:  65px;
	width: 331px
}

#intro .content{
	min-width: 1280px;
	margin: 0 auto;
	letter-spacing: -10px;
	
}
#intro .content div{
	letter-spacing: 2px;
	display: inline-block;
	text-align: center;
	min-width: 319px;
	width: 25%;
	color: #787b83;
	padding: 45px 0 60px 0;
}

#intro .content div:nth-last-child(n+2) p{
	border-right: 1px solid #999695;
}

#intro .content img{
	padding-bottom: 45px;
}
#intro .content p{
	font-size: 0.9em;
	line-height: 1.3;
	padding-bottom: 20px;
}
#whats-more .content{
	margin: 0 auto;
	min-width: 1280px;
	text-align: center;
	background-color: #ededec;
	padding: 95px 0;
}
#whats-more .content h1{
	color: #867e7a;
	font-size: 3.2em;
	font-weight: 100;
}
